/*common css start*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#010101 ;
}
/*common css start*/
/*header start*/
header{
	background-color:#fcdb00;
	padding: 20px 0;
}
.cu_nav{}
.logo{}
.c_toggle{
	color: rgba(19, 18, 18, 1) !important;
}
.menu ul li a{
	margin: 0 35px;
	font-size: 22px;
    font-weight: 700;
    color:#010101 !important;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	color: white !important;
}
/*header end*/

/*slider start*/
.slider{
	background-color:#fcdb00;
	padding-bottom: 100px;
}

/*indicator*/
.cid {
    bottom:-75px;
}

.cid [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
}

 .cid .active {
    opacity: 1;
    background-color: black;
}

/*indicator*/

.s_text{
	margin-top: 70px;
}
.s_text h1{
	margin: 0;
    font-size: 32px;
    font-weight:700;
    color: #010101;
}
.s_text h2{
	margin: 15px 0;
	font-size: 21px;
    font-weight:400;
    color: #313841;
    letter-spacing: 1px;
}
.s_text p{
	margin-bottom: 35px;
	color: #555555;
	line-height: 22px;
}
.s_icons{}
.s_icons li{
	margin-right: 35px !important;
}
.s_icons li i{
	font-size: 42px;
	color:#010101;
}
.s_img{
	text-align: center;
}
.s_img img{}
/*slider end*/

/*feature start*/
.feature{
	padding-top:100px;
	padding-bottom:120px;
}
.c_title{
	text-align: center;
}
.c_h1 {
	margin-bottom:15px;
	font-size:32px;
	font-weight:700;
	color:#010101;
}
.c_p {
	font-size:20px;
	color:#313841;
	line-height:22px;
}

.c_mt{
	margin-top:70px;
}

.f_icon{
	margin-top:5px;
}
.f_icon i{
	font-size:50px;
	color:#010101;
}

.f_text{}
.f_text h2{
	margin-bottom:15px;
	font-size:22px;
	font-weight:400;
	color:#010101;
}
.f_text p{
	line-height:22px;
	letter spacing:1px;
}



/*feature end*/